* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

h1 {
    justify-content: center;
    text-align: center;
}

p {
    text-align: center;
    color: rgb(230, 23, 126);
}

div #blog {
    justify-content: center;
    text-align: center;
}